@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miniver&display=swap");
:root {
  /* Colors */
  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #cccccc;

  /* Font Sizes */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site Max Width */
  --site-max-width: 1300px;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

/* Navbar */

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
}

.navbar .nav-logo {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}

.navbar .nav-menu .nav-link {
  color: var(--white-color);
  padding: 10px 18px;
  font-size: var(--font-size-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
}

/* hero section */
.hero-section {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 40px 10px;
}

.hero-details .title {
  font-family: "Miniver", sans-serif;
  color: var(--secondary-color);
  font-size: var(--font-size-xxl);
}

.hero-details .subtitle {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  margin-top: 10px;
  max-width: 70%;
}

.hero-details .description {
  color: var(--white-color);
  font-size: var(--font-size-m);
  margin: 24px 0 40px;
  max-width: 70%;
}

.hero-section .hero-img-wrapper .hero-img {
  max-width: 500px;
  margin-right: 20px;
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-details .button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: var(--border-radius-m);
}

.hero-section .hero-details .order-now {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  transition: 0.3s ease;
}

.hero-section .hero-details .contact-us {
  color: var(--white-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  border: 2px solid var(--white-color);
  transition: 0.3s ease;
}

.hero-section .hero-details .order-now:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--white-color);
}

.hero-section .hero-details .contact-us:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

/* About Section */
.about-section {
  padding: 120px 0;
  background-color: var(--light-pink-color);
}

.section-content {
  margin: 0 auto;
  padding: 20px;
  max-width: var(--site-max-width);
}

.about-section .section-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about-section .section-content .about-image-wrapper .about-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-details .title {
  font-size: var(--font-size-xxl);
  color: var(--primary-color);
  font-weight: var(--font-weight-semibold);
  padding-bottom: 10px;
  position: relative;
}

.about-details .title:after {
  text-align: center;
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--secondary-color);
  margin-top: 5px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.about-details .text {
  color: var(--dark-color);
  font-size: var(--font-size-l);
  margin-top: 20px;
  line-height: 1.6;
  max-width: 600px;
  text-align: center;
}

.social-link-list {
  margin-top: 20px;
}

.social-link-list .social-link {
  display: inline-block;
  color: #6d6060;
  text-align: center;
  line-height: 40px;
  font-size: var(--font-size-l);
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

/* Menu section */

.menu-section {
  padding: 50px 0;
  background-color: var(--dark-color);
}

.menu-section .menu-title {
  color: var(--white-color);
  position: relative;
  text-align: center;
  font-size: var(--font-size-xxl);
  margin-bottom: 30px;
}
.menu-section .menu-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--secondary-color);
  margin-top: 5px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

.menu-section .section-content .menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu-item {
  max-width: 280px;
}

.menu-item img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.menu-item h3 {
  color: var(--white-color);
  font-size: var(--font-size-l);
  margin-top: 10px;
  text-align: center;
}

.menu-item p {
  color: var(--medium-gray-color);
  font-size: var(--font-size-m);
  text-align: center;
  margin-top: 5px;
}

/* Contact section */
.contact-section {
  padding: 60px 20px;
  background: #fef7f7;
  text-align: center;
}

.section-title {
  font-size: var(--font-size-xxl);
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
 
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background-color: orange;
  border-radius: 2px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.contact-info {
  flex: 1;
  min-width: 250px;
  text-align: left;
  font-size: var(--font-size-l);
  max-width: 400px;
}

.contact-info p {
  margin: 12px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-form {
  flex: 1;
  min-width: 250px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: var(--font-size-l);
  resize: vertical;
}

.contact-form button {
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-l);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: var(--primary-color);
}

/* Footer */
.footer-section {
  background-color: #2b2b2b;
  color: #f1f1f1;
  padding: 30px 20px;
  text-align: center;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section .copyright-text {
  margin-bottom: 15px;
  font-size: 14px;
  color: #ccc;
}

.social-link-list {
  margin: 15px 0;
}

.social-link {
  display: inline-block;
  margin: 0 10px;
  color: #f1f1f1;
  font-size: 18px;
  transition: color 0.3s;
}

.social-link:hover {
  color: orange;
}

.policy-text {
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}

.policy-link {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s;
}

.policy-link:hover {
  color: orange;
}

.separator {
  color: #666;
  margin: 0 5px;
}
